<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" >
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>

	
	<link rel="stylesheet"  href="" th:href="@{/css/login.css}"/>
<!--===============================================================================================-->


	
	
</head>
<body>
      <div class="wrapper">
         <div class="title">
            Login Form
         </div>
         <form th:action="@{/login}" method="post">
         
         <!-- error message -->
					<div th:if="${param.error}">
						<div class="alert alert-danger">Invalid username or
							password.</div>
					</div>
				
					<!-- logout message -->
					<div th:if="${param.logout}">
						<div class="alert alert-info">You have been logged out.</div>
					</div>
            <div class="field" >
               <input type="text" class = "form-control" id ="username" name = "username"
						placeholder="Enter Email ID" autofocus="autofocus">
               <label>Email Address</label>
            </div>
            <div class="field" data-validate="Password is required">
               <input type="password"
							id="password" name="password" class="form-control"
							placeholder="Enter Password" >
               <label>Password</label>
            </div>
            <div class="content">
               <div class="checkbox">
                  <input type="checkbox" id="remember-me">
                  <label for="remember-me">Remember me</label>
               </div>
               <div class="pass-link">
                  <a href="#">Forgot password?</a>
               </div>
            </div>
            <div class="field">
               <input type="submit" name="login-submit" id="login-submit"	 value="Login">
            </div>
            <div class="signup-link">
               Not a member? <a href="/" th:href="@{/registration}">Signup now</a>
            </div>
         </form>
      </div>
   </body>
</html>